@font-face{
    font-family: 'GD-MadoMaruGoJA';
    src: url('/asset/GD-MadoMaruGoJA-Rev001.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather';
    src: url('/asset/Merriweather-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
code { 
    font-family: 'Courier New';
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
/* GD-MadoMaruGoJA only works for capital letters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #000000;
    background-image: url('/asset/background.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    transition: all .1s linear;
}
a:hover{
    color: #ff66ff;
}
header {
    font-family: san-seriff;
    position: relative;
    padding: 0 0;
}
.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
.navbar .logo{
    margin: auto auto auto 2rem;
}
.navbar .logo a{
    font-family: 'GD-MadoMaruGoJA';
    font-size: 2.5rem;
}
.navbar .links{
    font-family: 'GD-MadoMaruGoJA';
    display: flex;
    gap: 2rem;
    margin: auto 2rem auto auto;
}
.navbar #checkbox {
    display: none;
}
.navbar .toggle {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .3s;
    margin: auto 2rem auto auto;
}
.navbar .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(253, 255, 243);
    border-radius: 5px;
    transition-duration: .3s;
}
.navbar #checkbox:checked + .toggle #bar2 {
    transform: translateY(10px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
}
.navbar #checkbox:checked + .toggle #bar1 {
    transform: translateX(2px) translateY(18px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
}
.navbar #checkbox:checked + .toggle {
    transform: rotate(-90deg);
}
.dropdown_menu {
    position: absolute;
    font-family: 'GD-MadoMaruGoJA';
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu.open {
    height: 230px;
}
.heading {
    padding: 250px 0 250px 0;
    font-size: 60px;
    font-family: 'GD-MadoMaruGoJA';
    text-align: center;
    background: none;
    color: #ff88ff;
}
.left_column {
    float: left;
    width: 73%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.right_column {
    float: left;
    width: 27%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.mid_column {
    margin: auto;
    width: 75%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.q_column {
    margin: auto;
    width: 900px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    font-family: 'Merriweather';
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    word-wrap: break-word;
}
.card h1{
    font-family: 'GD-MadoMaruGoJA';
    font-size: 3rem;
    color: white;
    word-wrap: break-word;
    margin-bottom: 15px;
}
.card h1 a {
    font-family: 'GD-MadoMaruGoJA';
    font-size: 3rem;
    color: white;
    word-wrap: break-word;
}
.card h1 a:hover{
    color: #ff66ff;
}
.card h2{
    margin-bottom: 5px;
}
.card h2 a{
    font-size: 1.5rem;
}
.card h2 a:hover{
    color: #ff66ff;
}
.card p{
    padding: 0.5rem 0 0.5rem 0;
    word-wrap: break-word;
}
.card img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.profile img{
    margin-bottom: 20px;
    border-radius: 50%;
    transition: transform .3s ease-in-out;
}
.profile img:hover {
    transform: rotate(360deg);
}
.btn button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%, #ff66ff);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Merriweather';
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 20px;
}
.btn button:active,
.btn button:hover {
    outline: 0;
}
.btn button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.btn button:hover span {
    background: none;
}
.btn button:active {
    transform: scale(0.9);
}
.btn button:disabled{
    align-items: center;
    background-image: linear-gradient(144deg,grey, grey 50%, grey);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Merriweather';
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: not-allowed;
    transition: all .3s;
    margin-bottom: 20px;
}
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check:hover:before {
    opacity: 1;
}
.check:hover svg {
    stroke: #4285f4;
}
.check input[type="checkbox"]:checked + svg {
    stroke: #4285f4;
}
.check input[type="checkbox"]:checked + svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.check input[type="checkbox"]:checked + svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}
.hide{
    display: none;
}
#question-wrapper .number{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
#question-wrapper .number .total{
    color: #ff66ff;
    font-size: 18px;
}
#question-wrapper .question{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
#question-wrapper img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#question-wrapper .answer-wrapper .answer {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    border: 3px solid #3f4868;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
    align-items: center;
    justify-content: space-between;
}
#question-wrapper .answer-wrapper .answer .text img{
    margin-left: 0%;
}
#question-wrapper .answer-wrapper .answer.correct{
    border-color: limegreen;
}
#question-wrapper .answer-wrapper .answer.incorrect{
    border-color: red;
}
.radio {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    justify-content: space-between;
}
.radio:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.radio svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.radio svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.radio svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.radio:hover:before {
    opacity: 1;
}
.radio:hover svg {
    stroke: #ff66ff;
}
.radio input[type="radio"]:checked + svg {
    stroke: #ff66ff;
}
.radio input[type="radio"]:checked + svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.radio input[type="radio"]:checked + svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}
.btn.next{
    display: none;
}
#end-screen h1 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
}
#end-screen .score{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
}
#end-screen .score-text {
    color: #a2aace;
    font-size: 16px;
}
select {
    font-family: 'Merriweather';
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #3f4868;
    font-size: 14px;
}
@media screen and (max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar .toggle {
        display: flex;
    }
    .dropdown_menu {
        display: block;
    }
    .left_column {
        width: 100%;
    }
    .right_column {
        width: 100%;
    }
    .q_column{
        width: 100%;
    }
}
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .q_column{
        width: 100%;
    }
    .mid_column{
        width: 100%;
    }
}
